@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
@font-face {
  font-family: Couture;
  src: url("/mobile/fonts/couture-bld.otf") format("opentype"); }
@font-face {
  font-family: CoutureItalic;
  font-weight: bold;
  src: url("/mobile/fonts/couture-bldit.otf") format("opentype"); }
html, body {
  height: 100%; }

.fit-size {
  width: 100% !important;
  height: 100% !important; }

.mobile-container {
  height: calc(100% - 91px); }
  .mobile-container .login-container {
    height: calc(100% + 91px); }
  .mobile-container.main-container {
    position: relative;
    overflow-x: hidden; }
    .mobile-container.main-container .menu-container {
      z-index: 1000;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(4, 62, 71, 0.69);
      height: 100%;
      position: fixed;
      top: 90px; }
      .mobile-container.main-container .menu-container.visible {
        display: block; }
    .mobile-container.main-container .favorite-container {
      z-index: 1000;
      top: 0;
      position: absolute;
      min-height: 100%;
      width: 100%;
      background-color: rgba(4, 62, 71, 0.69);
      margin-left: -100%;
      transition: 0.15s all ease;
      display: none; }
      .mobile-container.main-container .favorite-container.visible {
        margin-left: 0;
        display: block; }

.hideContent {
  overflow: hidden;
  line-height: 1em;
  height: 2em; }

.showContent {
  line-height: 1em;
  height: auto; }

.topbar-container {
  padding: 5px 10px;
  margin-bottom: 9.7%; }
  .topbar-container .topbar {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 5px 0;
    width: 100%; }
    .topbar-container .topbar td {
      text-align: center; }
      .topbar-container .topbar td button {
        background-color: #FFF;
        border: none;
        color: #32aacf;
        font-size: 20px;
        width: 30px;
        padding: 3px 6px;
        text-align: center; }
        .topbar-container .topbar td button.favorite {
          color: #FF2120; }
        .topbar-container .topbar td button:focus {
          outline: 0;
          /*background-color: #F2F2F2;*/ }
      .topbar-container .topbar td.btn-cell {
        width: 37px; }
      .topbar-container .topbar td img {
        height: 35px;
        margin-left: -35px; }
  .topbar-container .breadcrumb-container {
    text-align: right;
    padding: 5px 10px; }
    .topbar-container .breadcrumb-container a {
      background-color: #FFFD02;
      color: #558a9c;
      display: inline-block;
      padding: 3px 10px; }

.menu-container .dropped {
  list-style: none;
  width: 250px;
  background-color: #FFF;
  padding: 0;
  float: right;
  transition: height 0.25s ease; }
  .menu-container .dropped li {
    padding: 7px;
    padding-top: 0;
    font-family: Couture;
    color: #558a9a;
    overflow: hidden;
    /*
    &.lang {
        font-family: 'Noto Sans', sans-serif;
        span {
            padding: 9px 15px 0;
            display: inline-block;
            color: #043e47;
        }
        .btn-lang {
            border-radius: 0;
            background-color: #FFF;
            font-family: 'Noto Sans', sans-serif;
            color: #999;
        }
    }*/ }
    .menu-container .dropped li .btn-menu {
      background-color: #b3c6cc;
      color: #558a9c;
      border-radius: 0;
      text-transform: uppercase;
      font-family: Couture;
      font-weight: lighter;
      padding: 14px; }
    .menu-container .dropped li.active .btn-menu, .menu-container .dropped li:hover .btn-menu {
      background-color: #32aacf;
      color: #FFF; }
    .menu-container .dropped li.lang {
      position: relative;
      height: 50px;
      margin: 7px; }
      .menu-container .dropped li.lang .lang-flag {
        width: 30px;
        height: 30px;
        border-radius: 50% 50% 50% 0;
        background: #b3c6cc;
        position: absolute;
        transform: rotate(-45deg);
        margin: -20px 0 0 -20px;
        filter: grayscale(100%);
        top: 25px; }
        .menu-container .dropped li.lang .lang-flag:after {
          content: '';
          width: 22px;
          height: 22px;
          margin: 4px 0 0 4px;
          position: absolute;
          border-radius: 50%;
          box-shadow: 0px 0px 0px 1px white;
          transform: rotate(45deg); }
        .menu-container .dropped li.lang .lang-flag.active {
          filter: none;
          background: #32aacf; }
      .menu-container .dropped li.lang .zh {
        left: 32px; }
        .menu-container .dropped li.lang .zh:after {
          background: url("/mobile/img/china-circle-32.png");
          background-size: cover; }
      .menu-container .dropped li.lang .ja {
        left: 77px; }
        .menu-container .dropped li.lang .ja:after {
          background: url("/mobile/img/japan-circle-32.png");
          background-size: cover; }
      .menu-container .dropped li.lang .ko {
        left: 122px; }
        .menu-container .dropped li.lang .ko:after {
          background: url("/mobile/img/korea-circle-32.png");
          background-size: cover; }
      .menu-container .dropped li.lang .en {
        left: 167px; }
        .menu-container .dropped li.lang .en:after {
          background: url("/mobile/img/england-circle-32.png");
          background-size: cover; }
      .menu-container .dropped li.lang .th {
        left: 212px; }
        .menu-container .dropped li.lang .th:after {
          background: url("/mobile/img/thailand-circle-32.png");
          background-size: cover; }

.body-container {
  width: 100%;
  height: 100%; }

@media screen and (max-height: 400px) {
  #inner-main *:not(input) {
    display: none; } }
.mobile-container img {
  max-width: 100%; }

.big-button {
  padding: 0;
  height: 32%;
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid white;
  outline: none;
  color: white;
  font-weight: bold;
  float: left;
  margin-bottom: 9%; }
  .big-button.selected {
    color: #006979;
    background-color: white; }

.home-tab {
  flex: 1;
  border: 1px solid #4ec9f2;
  position: relative; }
  .home-tab .tab-mark {
    position: absolute;
    opacity: 0;
    left: calc(50% - 10px);
    top: -17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 17px 10px;
    border-color: transparent transparent #4ec9f2 transparent; }
  .home-tab.selected {
    background-color: #4ec9f2;
    color: white; }
    .home-tab.selected .tab-mark {
      opacity: 1; }

.listing-item {
  position: relative;
  border: 1px solid #dbdbdb;
  height: 250px;
  margin-bottom: 5%; }
  .listing-item .exclusive-label {
    position: absolute;
    border-bottom: 30px solid #fffc01;
    border-left: 18px solid transparent;
    border-right: 52px solid transparent;
    height: 0;
    width: 150px;
    left: -19px;
    top: 8px;
    font-weight: bold;
    transform: rotate(-30deg); }
  .listing-item .exclusive-label-text {
    position: absolute;
    top: 20px;
    left: 5px;
    color: #006979;
    text-transform: uppercase;
    transform: rotate(-30deg); }
  .listing-item .listing-image {
    height: 75%;
    background-size: cover;
    background-position: center; }
  .listing-item .listing-details {
    height: 25%;
    padding: 5px;
    background-color: #d9e6ec; }

.search-box {
  border: none;
  text-align: center;
  font-size: 12px;
  height: 40px;
  width: 95%;
  padding: 0 12%;
  margin-bottom: 8px; }

.search-input {
  padding: 16px;
  margin-left: -55px;
  height: 37px;
  width: 50px;
  color: white;
  border: 0;
  -webkit-appearance: none;
  background-image: url(/mobile/img/search.png);
  background-repeat: no-repeat;
  background-position: 9% 50%;
  background-size: auto 55%;
  background-color: white; }

.main-menu {
  padding: 0 30px;
  width: 100%;
  height: 84px; }
  .main-menu .options {
    height: 36px;
    border: 1px solid lightgray; }
    .main-menu .options .row {
      text-transform: uppercase;
      text-align: center;
      font-size: 11px;
      line-height: 36px;
      margin: 0; }
      .main-menu .options .row .col-xs-6 {
        color: #9E9E9E;
        font-weight: bold; }
        .main-menu .options .row .col-xs-6:last-child {
          border-left: 1px solid lightgray; }
        .main-menu .options .row .col-xs-6.selected {
          color: white;
          background-color: #37ABD0; }
  .main-menu input {
    /*height: 30px;*/
    border: 1px solid lightgray;
    /*font-size: 10px;*/ }

.options-menu {
  z-index: 1000;
  top: 85px;
  display: none;
  position: absolute;
  width: 100%;
  height: 335px;
  background-color: rgba(4, 62, 71, 0.69);
  padding: 10px;
  color: white; }
  .options-menu .row {
    margin-bottom: 10px; }
  .options-menu label {
    font-size: 14px;
    text-transform: capitalize; }
  .options-menu select {
    height: 26px;
    border: none;
    color: black;
    width: 100%; }
  .options-menu input {
    width: calc(50% - 13px);
    margin: 0 5px;
    color: black; }
    .options-menu input:first-child {
      margin-left: 0; }
    .options-menu input:last-child {
      margin-right: 0; }
  .options-menu .apply {
    text-align: center; }
  .options-menu .apply button {
    color: white;
    background-color: #0074E5;
    border: none;
    height: 30px;
    width: 120px;
    line-height: normal;
    margin-top: 5px; }

.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(28, 109, 135, 0.8);
  /*#1c6d87*/
  color: white; }
  .bottom-navigation .glyphicon-arrow-left {
    position: absolute;
    left: 20px;
    top: 9px;
    font-size: 20px; }
  .bottom-navigation .glyphicon-home {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px; }

#mapview {
  position: absolute; }

.infoBox {
  background: white;
  width: 250px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px; }
  .infoBox .marker-info {
    height: 74px;
    padding: 5px;
    font-family: 'Signika', sans-serif;
    font-weight: lighter; }
    .infoBox .marker-info .marker-img {
      width: 64px;
      height: 64px;
      float: left;
      margin-right: 10px;
      overflow: hidden; }
      .infoBox .marker-info .marker-img img {
        width: 64px; }
    .infoBox .marker-info .marker-details {
      width: 165px;
      height: 64px;
      float: right;
      line-height: 1.4; }
      .infoBox .marker-info .marker-details .price {
        font-weight: normal; }
      .infoBox .marker-info .marker-details h6 {
        margin-top: 2px;
        margin-bottom: 3px;
        line-height: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 165px; }

.ui-autocomplete.map-search {
  width: calc(100% - 60px) !important;
  border: none;
  height: calc(100% - 161px) !important;
  overflow-y: auto;
  -webkit-box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 5px -2px rgba(0, 0, 0, 0.75); }
  .ui-autocomplete.map-search li.poi-item {
    width: 100%;
    display: block;
    list-style-image: none;
    overflow: hidden; }
    .ui-autocomplete.map-search li.poi-item:hover {
      background-color: #EEE;
      margin: 0; }
      .ui-autocomplete.map-search li.poi-item:hover span {
        background-color: transparent;
        border: none;
        margin: 0; }
    .ui-autocomplete.map-search li.poi-item span {
      display: inline-block;
      height: 36px;
      padding: 8px;
      font-family: 'Signika', sans-serif;
      color: #000;
      background-color: transparent;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .ui-autocomplete.map-search li.poi-item span.icon {
        width: 30px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        background-size: 20px;
        opacity: 0.25; }
        .ui-autocomplete.map-search li.poi-item span.icon.bts {
          background-image: url("/mobile/img/maps/selected/bts.png"); }
        .ui-autocomplete.map-search li.poi-item span.icon.mrt {
          background-image: url("/mobile/img/maps/selected/mrt.png"); }
        .ui-autocomplete.map-search li.poi-item span.icon.apl {
          background-image: url("/mobile/img/maps/selected/apl.png"); }
        .ui-autocomplete.map-search li.poi-item span.icon.bank {
          background-image: url("/mobile/img/maps/selected/bank.png"); }
        .ui-autocomplete.map-search li.poi-item span.icon.dept-store {
          background-image: url("/mobile/img/maps/selected/departmentstore.png"); }
        .ui-autocomplete.map-search li.poi-item span.icon.hospital {
          background-image: url("/mobile/img/maps/selected/hospital-building.png"); }
        .ui-autocomplete.map-search li.poi-item span.icon.school {
          background-image: url("/mobile/img/maps/selected/school.png"); }
      .ui-autocomplete.map-search li.poi-item span.name {
        width: 249px; }
      .ui-autocomplete.map-search li.poi-item span.poi-type {
        display: none;
        width: 75px;
        text-transform: uppercase;
        font-weight: lighter;
        opacity: 0.54; }
      .ui-autocomplete.map-search li.poi-item span.more {
        display: none;
        width: 312px;
        opacity: 0.54;
        float: right;
        font-size: 12px;
        height: 24px;
        padding: 0; }
      .ui-autocomplete.map-search li.poi-item span.ui-state-active {
        background-color: transparent;
        margin: 0;
        color: #000;
        border: none; }

.agent-search-verified {
  background-color: #5392aa;
  width: 55px;
  height: 14px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  float: right;
  margin-top: 4px;
  font-size: 9px;
  padding-top: 1px; }
  .agent-search-verified .glyphicon {
    margin: 0 3px; }

.agent-header {
  width: 100%;
  height: 250px; }

.agent-logo-container {
  position: relative;
  width: 100%;
  height: 140px; }

.agent-circle {
  position: absolute;
  height: 90px;
  width: 90px;
  left: calc(50% - 45px);
  bottom: -25px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px white; }

.agent-title {
  margin-top: 35px;
  text-align: center; }
  .agent-title .agent-badge {
    font-size: 16px; }
  .agent-title .agent-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; }
  .agent-title .agent-posting {
    text-align: left;
    font-size: 10px;
    margin-left: 20px; }

.agent-tabs {
  margin: 32px 20px 10px;
  height: 58px;
  display: flex;
  /*align-items: center;
  justify-content: center;*/ }
  .agent-tabs .agent-tab {
    color: #44B2CC;
    font-weight: bold;
    flex: 1;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
    border: 2px solid #44B2CC;
    font-size: 12px; }
    .agent-tabs .agent-tab.middle {
      border-left: none;
      border-right: none; }
    .agent-tabs .agent-tab.selected {
      background-color: #44B2CC;
      color: white; }

.agent-tab-view {
  margin: 10px 20px; }
  .agent-tab-view.about {
    padding: 20px 10px 20px 20px;
    font-size: 12px;
    border: 1px solid #d1d1d1; }
    .agent-tab-view.about .row {
      margin-bottom: 5px; }
    .agent-tab-view.about .gray {
      color: #d1d1d1; }
    .agent-tab-view.about .black {
      word-break: break-all; }
  .agent-tab-view.items {
    display: none;
    margin-bottom: 10px; }
    .agent-tab-view.items .overview {
      height: 320px;
      margin-bottom: 20px; }
      .agent-tab-view.items .overview .left {
        background-color: #006979;
        padding-top: 20px;
        height: 100%; }
      .agent-tab-view.items .overview .right {
        padding: 0;
        height: 100%;
        text-align: center; }
      .agent-tab-view.items .overview .onefourth {
        background-color: pink;
        height: 25%;
        padding: 12.5% 0;
        font-size: 11px;
        color: white; }
        .agent-tab-view.items .overview .onefourth.condo {
          background-color: #ff5d84; }
        .agent-tab-view.items .overview .onefourth.apartment {
          background-color: #cbff79; }
        .agent-tab-view.items .overview .onefourth.townhouse {
          background-color: #93bdd6; }
        .agent-tab-view.items .overview .onefourth.house {
          background-color: #1799ed; }
    .agent-tab-view.items .listing-header {
      padding: 20px;
      margin-bottom: 20px;
      background-color: #44b2cc; }
      .agent-tab-view.items .listing-header .list-item {
        display: inline-block; }
        .agent-tab-view.items .listing-header .list-item .list-button {
          height: 20px;
          border: none;
          background-color: #44b2cc;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: bold;
          margin-right: 5px;
          outline: none; }
          .agent-tab-view.items .listing-header .list-item .list-button.selected {
            border: 2px solid #cbff79;
            color: white; }
        .agent-tab-view.items .listing-header .list-item .list-select {
          height: 15px;
          font-size: 9px; }
  .agent-tab-view.review {
    display: none; }
    .agent-tab-view.review .agent-comments {
      border: 1px solid #44B2CC;
      background-color: #c7e0e7; }

.agent-contact {
  width: 100%;
  background-color: #D2E1E6;
  padding: 20px 20px 20px 20px;
  height: 446px;
  margin-bottom: 50px; }
  .agent-contact p {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase; }
  .agent-contact form {
    font-size: 12px; }
    .agent-contact form label {
      margin-right: 10px;
      margin-bottom: 10px;
      color: #F7FEFE;
      width: 20%; }
    .agent-contact form input {
      width: calc(80% - 10px);
      margin-bottom: 10px;
      padding: 3px 10px 3px 10px; }
    .agent-contact form textarea {
      padding: 10px 10px 10px 10px;
      resize: none;
      width: 100%;
      height: 100px;
      margin-bottom: 10px; }
    .agent-contact form .news {
      width: auto;
      margin-right: 5px; }
  .agent-contact .submit {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    background-color: #598A91;
    border-color: #598A91;
    color: #284955;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px; }
    .agent-contact .submit i {
      margin-right: 10px;
      color: yellow; }

/****** Style Star Rating Widget *****/
.rating,
.rating-passive,
.rating-blue,
.rating-blue-passive {
  border: none;
  float: left; }

.rating > input,
.rating-passive > input,
.rating-blue > input,
.rating-blue-passive > input {
  display: none; }

.rating > label:before,
.rating-passive > label:before,
.rating-blue > label:before,
.rating-blue-passive > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before,
.rating-passive > .half:before,
.rating-blue > .half:before,
.rating-blue-passive > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label,
.rating-passive > label,
.rating-blue > label,
.rating-blue-passive > label {
  font-size: 14px;
  color: #666e71;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; }

/* hover previous stars in list */
.rating-passive > input:checked ~ label {
  color: #FFD700; }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85; }

.rating-blue > input:checked ~ label,
.rating-blue:not(:checked) > label:hover,
.rating-blue:not(:checked) > label:hover ~ label {
  color: #8cd0de; }

/* hover previous stars in list */
.rating-blue-passive > input:checked ~ label {
  color: #8cd0de; }

.rating-blue > input:checked + label:hover,
.rating-blue > input:checked ~ label:hover,
.rating-blue > label:hover ~ input:checked ~ label,
.rating-blue > input:checked ~ label:hover ~ label {
  color: #8cd0de; }

.rental-stat {
  /*width: 400px;*/ }
  .rental-stat .progress {
    margin-top: 25px;
    height: 20px;
    margin-bottom: 6px; }
    .rental-stat .progress .progress-bar {
      /*padding: 6px 0;   */ }
      .rental-stat .progress .progress-bar.progress-bar-sale {
        background-color: #d2f7ff;
        color: #000; }
      .rental-stat .progress .progress-bar.progress-bar-rent {
        background-color: #1191ae; }
  .rental-stat .labels {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold; }

.property-list .property-item .meta {
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  left: 0; }
  .property-list .property-item .meta .others {
    font-size: 12px; }
  .property-list .property-item .meta .address {
    font-size: 12px; }
    .property-list .property-item .meta .address p {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }

.listing-highlights {
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px; }

.listing-highlight {
  flex: 1;
  text-align: center;
  font-size: 8px; }
  .listing-highlight img {
    width: 40%; }
  .listing-highlight p {
    text-transform: uppercase;
    color: #008cb2;
    font-weight: bold; }
  .listing-highlight h4 {
    font-size: 10px; }

.condo-header {
  width: 100%;
  height: 30px;
  font-size: 11px;
  color: white;
  background-color: #0d8ea3;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px; }
  .condo-header.condo-comments {
    background-color: white;
    border: 2px solid #0d8ea3;
    color: #0d8ea3; }

.facility-line {
  width: calc(100% - 10px);
  margin: 5px;
  font-size: 10px;
  overflow: hidden; }
  .facility-line .facility {
    width: 25%;
    height: 91px;
    float: left;
    text-align: center;
    margin-bottom: 5px; }
    .facility-line .facility img {
      width: 80%; }

.mortgage-options {
  margin: 10px 40px; }
  .mortgage-options p {
    font-weight: bold;
    margin-top: 10px; }
  .mortgage-options .mortgage-label {
    margin-bottom: 10px;
    margin-top: 10px; }
  .mortgage-options .mortgage-total {
    float: right;
    padding: 3px 20px;
    background-color: black;
    color: white;
    margin-top: 6px; }

.mortgage-result {
  position: relative;
  padding: 20px 50px; }

.details {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 10px; }

.video-container {
  position: relative;
  padding-top: 5px;
  height: 160px;
  overflow: hidden;
  margin-bottom: 10px; }
  .video-container iframe {
    width: 100%; }

.condo-comments-view {
  display: none;
  border: 2px solid #0d8ea3;
  border-top: none; }

.condo-listing-rent-view {
  display: none;
  border: 2px solid #0d8ea3;
  border-top: none; }

.condo-listing-sale-view {
  display: none;
  border: 2px solid #0d8ea3;
  border-top: none; }

.property-details .ranking .fa {
  color: #16adc5; }

#property-map {
  height: 250px; }

.listing-area {
  margin-bottom: 15px; }

.mortgage-calculator {
  /*position: relative;*/
  margin: 50px 0 25px; }
  .mortgage-calculator p {
    margin-bottom: 10px; }
  .mortgage-calculator .monthly-payment {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 25%;
    left: 32%;
    overflow: hidden; }
    .mortgage-calculator .monthly-payment .content {
      margin: 35px 5px 0;
      text-align: center; }

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
  border-radius: 0; }

.flat-slider.ui-slider {
  border: 0;
  background: #d8e0f3;
  border-radius: 7px;
  margin: 20px 15px; }

.flat-slider.ui-slider-horizontal {
  height: 6px; }

.flat-slider.ui-slider-vertical {
  height: 15em;
  width: 6px; }

.flat-slider .ui-slider-handle {
  width: 30px;
  height: 30px;
  background: #FFF;
  border-radius: 50%;
  border: 10px solid #0db9f0;
  cursor: pointer; }

.flat-slider.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -15px; }

.flat-slider.ui-slider-vertical .ui-slider-handle {
  left: 50%;
  margin-left: -15px; }

.flat-slider .ui-slider-handle:hover {
  opacity: .8; }

.flat-slider .ui-slider-range {
  border: 0;
  border-radius: 7;
  background: #f99; }

.flat-slider.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px; }

.flat-slider.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 6px; }

button#add-favorite {
  background-color: white;
  border: none; }

.search-results .property-item {
  height: 170px;
  margin-bottom: 2px;
  position: relative;
  overflow: hidden;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background-color: #F2F2F2;
  width: 100%; }
  .search-results .property-item:nth-child(2n + 1) {
    float: left; }
  .search-results .property-item:nth-child(2n) {
    float: right; }
  .search-results .property-item .img-count {
    position: absolute;
    top: 10px;
    left: 10px; }
  .search-results .property-item .favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none; }
    .search-results .property-item .favorite-btn .fa {
      text-shadow: 0 0px 1px #000; }
  .search-results .property-item .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px; }
    .search-results .property-item .details .listing-type {
      text-shadow: 0 0px 1px #FFF;
      color: #0457a3; }
      .search-results .property-item .details .listing-type.sale {
        color: #CC0000; }
      .search-results .property-item .details .listing-type.rent {
        color: #0088ff; }
      .search-results .property-item .details .listing-type.condo {
        color: #1EA204; }
      .search-results .property-item .details .listing-type.project {
        color: #D78B00; }
    .search-results .property-item .details .listing-price {
      font-size: 30px;
      margin-top: -2px;
      display: inline-block;
      margin-bottom: -10px; }
    .search-results .property-item .details .summary {
      color: #EEE;
      white-space: nowrap;
      overflow: hidden;
      /* "overflow" value must be different from "visible" */
      text-overflow: ellipsis;
      margin: 0;
      background-color: transparent;
      padding: 0; }

#img-list {
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
