.agent-container {
    background-color: #FFF;

    h1 {
        font-size: 30px;
        margin: 40px 10px 30px;
        font-weight: lighter;
    }

    h3 {
        color:#248292;
        font-size:20px;
        text-transform:uppercase;
        margin:30px auto;
    }

    .search-filter-titles {
        margin-left: -10px;
        margin-right: -10px;
        label {
            text-transform: uppercase;
        }
    }
    .search-filters {
        background-color: #F2F2F2;
        padding: 7px 25px;
        margin: 5px -15px 15px;
        overflow: hidden;
        form {
            margin-bottom: 0;
            .col {
                padding-left: 5px;
                padding-right: 5px;
                input {
                    width: 100%;
                    border-radius: 0;
                }
            }
            .agent-types {
                border-right:1px solid white;
                width: 230px;
                margin-top: 6px;
                label {
                    display: inline-block;
                    padding: 0 10px;
                    font-weight: lighter;
                    cursor: pointer;
                    &.active {
                        color: #1677e3;
                        border-bottom:1px solid #1677e3;                        
                    }
                }
            }
            button {
                padding: 7px 12px;
                border-radius: 0;
                background-color: #999;
                color: #FFF;
                border: none;
            }
        }
    }
    .agent-list {
        .agent-cell {

            height: 500px;
            border: 2px solid #38A8D4;
            margin-bottom: 30px;
            position: relative;
            padding: 15px;

            .rating {
                padding: 7px 10px;
                text-align: right;
                width: 100%;
                .vote {
                    color: #CCC;
                    font-size: 16px;
                    &.full {
                        color:#17AEC5;
                    }
                }
            }
            .agent-picture {
                margin-top: 5px;
                a {
                    display: block;
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    text-align: center;
                    overflow: hidden;

                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }
            .agent-name {
                font-size:24px;
                font-weight:bold;
                color:#38A8D4;
                text-align: center;
                margin-top: 15px;
                word-break: break-all;
            }
            .agent-stat {
                margin-top: 10px;

                .agent-status {
                    text-align: right;
                    .verified {
                        background-color: #6f9097;
                        color: #FFF;
                        padding: 2px 5px;
                    }
                }
                .agent-posts {
                    color: #808080;
                    text-align: center;
                }
            }
            .agent-info {
                margin-top: 25px;
                p {
                    margin: 10px 15px;
                    line-height: 20px;
                    &.tags {
                        max-height: 40px;
                        overflow: hidden;
                        em {
                            color: #008cb2;
                            font-weight: normal;
                            font-style: normal;
                        }
                    }
                    &.agent-intro {
                        max-height: 60px;
                        overflow: hidden;
                    }
                }

            }
            .btn-details {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: #3ea8d2;
                color: #FFF;
                padding: 5px 12px;
                border-radius: 0;
            }
        }

    }
    .agent-list-pagination {
        width: 100%;
        overflow: hidden;
        text-align: center;
        .pagination {
            margin: 20px auto;
        }
    }
    &.front-container {
        margin-top: 25px;
        .member-profile-header {
            margin-top: 15px;

            h4 {
                span {
                    display: inline-block;                    
                    &.name {
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                    &.vote {
                        margin-right: 3px;
                        .fa {
                            color: #EAE200;
                            font-size: 18px;
                        }
                    }
                    &.post-count {
                        color: #999;
                        margin-left: 10px;
                    }
                }
            }

            table {
                &.agent-info {
                    td {
                        border: none;
                        &.info-label {
                            width: 120px;
                        }
                    }
                }
            }
        }

        .agent-details {
            .nav-tabs {
                border: none;
                li {
                    margin-right: 5px;
                    a {
                        padding: 7px 15px;
                        border: 2px solid #44B2CC;
                        border-radius: 0;
                        text-transform: uppercase;
                        color: #44B2CC;
                        font-weight: bold;
                    }
                    &.active {
                        a {
                            background-color: #44B2CC;
                            color: #FFF;
                        }
                    }
                }
            }
        }
        .tab-content {
            .tab-pane {
                padding: 15px;
                padding-top: 35px;
                .property-filter {
                    display:flex;
                    background-color:#d2f7ff;
                    text-align:center;
                    height:40px;
                    align-items: center;
                    div {
                        flex:1;
                    }                    
                    select {
                        width:180px;
                        height:26px;
                    }
                }
                .property-item {                    
                    width: 140px;
                    height: 100px;
                    float: left;
                    margin: 15px 25px;
                    /*background: yellow;*/
                    .img-container {
                        height: 80px;
                        margin: 0 10px 15px;
                        text-align: center;
                        position: relative;
                        img {
                            display: inline-block;
                            position: absolute;
                            bottom: 0;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                    &.apartment {
                        img {
                            width: 64px;
                            left: 27px;
                        }
                        .fa {
                            color: #CBff7a;
                        }
                    }
                    &.condo {
                        img {
                            left: 21px;
                            width: 80px;
                        }
                        .fa {
                            color: #ff5d83;
                        }
                    }
                    &.house {
                        img {
                            width: 55px;
                            left: 30px;
                        }
                        .fa {
                            color: #179aed;
                        }
                    }
                    &.townhouse {
                        img {
                            left: 15px;
                            width: 90px;
                        }
                        .fa {
                            color: #93dcb6;
                        }
                    }
                    p {
                        text-align: center;
                        color: #38A8D4;
                        font-weight: bold;

                        span {
                            position: relative;
                            .fa {
                                position: absolute;
                                top: 2px;
                                left: -17px;
                            }
                        }
                    }
                }

                &.reviews {
                    .reviews-container {
                        .row {
                            border: 2px solid #44b2cc;
                            margin: 0 0 15px;
                            div {
                                padding: 15px;
                                h5 {
                                    color: #38a8d4;
                                }
                                p {
                                    &.agent-rating {
                                        color: #44b2cc;
                                        span {
                                            &.date {
                                                display: inline-block;
                                                color: #9d9d9d;
                                                margin-left: 25px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .form-container {
                        background-color: #f6fdfe;
                        padding: 15px;
                        h4 {
                            text-transform: uppercase;
                        }
                        .rating-container {
                            padding: 15px;
                            display: inline-block;
                        }
                        form {
                            width: 500px;
                            span.title {
                                font-weight: bold;
                            }
                            .btn-grey {
                                color: #FFF;
                            }
                        }
                    }
                }

            }
            .canvas-container {
                width: 300px;
                height: 300px;
                margin: 0 auto;
            }
            .rental-stat {
                width: 400px;
                .progress {

                    margin-top: 25px;
                    height: auto;
                    .progress-bar {
                        padding: 6px 0;                    
                        &.progress-bar-sale {
                            background-color: #d2f7ff;
                            color: #000;
                        }
                        &.progress-bar-rent {
                            background-color: #1191ae;
                        }
                    }

                }
            }
            .property-list {
                max-height: 500px;
                overflow-y: scroll;
                margin-bottom: 50px;
                .property-item {
                    width: 98%;
                    position: relative;      
                    height: 250px;
                    margin: 0 0 5px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .meta-info-bg {
                        padding: 15px;
                        width: 350px;
                        background-color: rgba(0, 0, 0, 0.5);
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }

                    .meta-info {
                        position: absolute;
                        right: 0;                        
                        bottom: 0;
                        padding: 15px;
                        width: 350px;
                        color: #FFF;
                        p {
                            text-align: left;
                            color: #FFF;
                            a {
                                color: #FFF;
                            }
                        }
                        .price {
                            font-size: 25px;
                        }
                    }
                    .img-pager {
                        position: relative;
                        height: 250px;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        .pager-num {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.7);
                            color: #FFF;
                            padding: 2px 15px 1px;
                        }
                        .pager-handler {
                            position: absolute;
                            top: 105px;
                            background-color: rgba(0, 0, 0, 0.7);
                            font-size: 18px;
                            padding: 3px 13px 2px;
                            color: #FFF;
                            cursor: pointer;
                            &.pager-left {
                                left: 1px;
                            }
                            &.pager-right {
                                left: 403px;
                            }
                        }
                    }
                    .favorite-container {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        background-color: rgba(0, 0, 0, 0.5);
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        text-align: center;
                        span {
                            color: #FFF;
                            margin-top: 10px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .contact-box {
        background-color: #d1e1e5;
        padding: 15px;
        h4 {
            text-align: center;
        }
        .contact-box-header {
            margin: 0;
            border-bottom: 1px solid #999;
            padding: 0 10px 10px;

            .tel-btn {
                margin-top: 15px;
                text-align: center;
                button {
                    background-color: #5e9eaa;
                    color: #fcfd03;
                    border: none;
                    padding: 5px;
                    width: 120px;
                    border-radius: 5px;
                }
            }
        }
    }
}