.summary-stat {
    padding: 15px;
    background-color: #e4e8e9;
    h4 {
        padding: 0;
        background-color: transparent;
        margin-bottom: 15px;
    }
    div {
        &.row {
            margin-bottom: 15px;
        }
        &.value {
            font-weight: bold;
        }
    }
}

.summary-chart{
    margin-top: 350px;
}

.label-filter{
    margin-right: 20px;
}

.filter-area{
  margin-bottom: 20px;
}

.stat-box {
    .chart-legend {
        padding: 15px;
        background-color: #e7e7e7;
        li {
            margin-bottom: 5px;
        }
    }

    &.total-listing {
        .chart-legend {
          margin-left: -20px;
            i {
                &.condo {
                    color: #1ea6d0;
                }
                &.apartment {
                    color: #7eb4c0;
                }
                &.house {
                    color: #b963ea;
                }
                &.townhouse {
                    color: #e963a8;
                }
                &.new-project {
                    color: #7fe963;
                }

                &.user {
                    color: #537e0b;
                }
                &.owner {
                    color: #ff77a5;
                }
                &.developer {
                    color: #edff53;
                }
                &.freelance {
                    color: #63d8e9;
                }
                &.real-estate {
                    color: #898989;
                }

                &.th {
                    color: #6383e8;
                }
                &.en {
                    color: #fd3b5e;
                }
                &.ja {
                    color: #edff53;
                }
                &.zh {
                    color: #63d8e9;
                }
                &.ko {
                    color: #898989;
                }

                &.rent {
                    color: #64dae8;
                }
                &.sale {
                    color: #9e70ed;
                }
                &.new-proj {
                    color: #81565f;
                }
            }
        }
    }
}
