.property-details {
    padding: 40px 21px;
    overflow: hidden;
    background-color: #FFF;
    .preview-header {
        margin-right: 0;
        margin-left: 0;
        padding: 0 10px;
        margin-bottom: 10px;
        .title {
            h3 {
                margin-top: 0;
            }
            .listing-type {
                padding: 4px 12px;
                background-color: #ff3955;
                color: #FFF;
            }
            button {
                background-color: transparent;
                border: none;
                margin-left: 15px;
                &.favorite {
                    color: #ff3955;
                }
                &.share {
                    color: #5b99a6;
                    font-weight: normal;
                }
            }
        }
        .listing-price {
            float: right;
            color: #949494;
            font-size: 20px;
            margin-top: 19px;
        }
    }
    .media-container {
        height: 400px;
        margin-bottom: 25px;

        .handler-container {

            position: relative;
            height: 0;           

            .handler {
                position: absolute ;
                padding: 7px 13px;
                color: #FFF;
                border: 1px solid #FFF;
                background-color: rgba(0,0,0,0.25);
                top: 179px;
                font-size: 25px;
                line-height: 25px;
                cursor: pointer;
                &.left {
                    left: 10px;
                    padding-right: 14px;
                    padding-left: 12px;
                }
                &.right {
                    right: 10px;
                    padding-left: 15px;
                    padding-right: 10px;
                }
            }
        }

        .media-slider-container {
            width: 100%;
            overflow: hidden;

            .media-slider {
                overflow: hidden;
                .media-group {
                    width: 300px;
                    float: left;
                    margin-right: 2px;
                    &.big-media {
                        width: 400px;
                    }
                    .small-media {
                        height: 199px;
                        overflow: hidden;
                        &:first-child {
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
    .details-container {
        /*background-color: #def1f5;*/
        .details-box {
            width: 810px;
            float: left;
            table {
                background-color: #def1f5;
                border: 1px solid #999;
                tr {
                    td {
                        border-right: 1px solid #999;
                        border-top: 1px solid #999;
                        font-weight: lighter;
                        &.plabel {
                            width: 20%;
                        }
                        &.value {
                            font-weight: normal;
                            width: 30%;
                        }
                        .property-map {
                            height: 500px;
                        }

                        .property-map-tools {
                            margin-top: 10px;
                            .btn-map-tool {
                                border-radius: 0;
                                color: #FFF;
                            }
                        }
                        .facility-item {
                            .icon-container {
                                width: 64px;
                                height: 64px;
                                overflow: hidden;
                                background-color: #EEE;
                                img {
                                    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
                                    filter: grayscale(100%);
                                    opacity: 0.5;
                                    width: 64px;
                                    height: 64px;
                                }
                            }
                            &.active {
                                img {
                                    -webkit-filter: grayscale(0%);
                                    filter: grayscale(0%);
                                    opacity: 1.0;
                                }
                            }
                        }
                    }
                    &.boder-bottom {
                        border: 1px solid #999;
                    }
                }
            }
        }
        .contact-box {
            width: 300px;
            border: 1px solid #999;
            float: right;
            background-color: #e8fbff;
            h4 {
                text-align: center;
                border-bottom: 1px solid #999;
                padding-bottom: 7px;
                text-transform: uppercase;
            }
            h5 {
                text-align: center;
                margin-bottom: 8px;
                font-size: 18px;
            }
            .contact-box-header {
                margin: 0;
                border-bottom: 1px solid #999;
                padding: 0 10px 10px;
                
                .name {
                    word-wrap: break-word;
                }

                .tel-btn {
                    margin-top: 15px;
                    text-align: center;
                    button {
                        background-color: #5e9eaa;
                        color: #fcfd03;
                        border: none;
                        padding: 5px;
                        width: 120px;
                        border-radius: 5px;
                    }
                }
            }
            .contact-box-body {
                padding: 10px;
                .btn-send {
                    background-color: #5e9eaa;
                    color: #FFF;
                    i {
                        color: #fcfd03;
                    }
                }
            }
        }
    }
}
.similars {
    margin: 0;
    h4 {
        margin: 25px 0;
    }
    .similar-listings {

        .listing-item {
            width: 250px;
            height: 250px;
            position: relative;
            float: left;
            margin-right: 33px;
            background-color: #DDD;

            &:last-child {
                margin-right: 0;
            }           

            .listing-info {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.6);
                padding: 6px 10px 3px;
                color: #000;
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    &.title {
                        font-weight: normal;
                    }
                    &.price {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.big-map {
    .modal-dialog {
        width: 1040px;
        .big-map-container {
            height: 600px;
        }
    }
}
.property-details {
    table {
        background-color: #def1f5;
    }
    /**/
}
.train-list {
    .input-group {
        width: 100%;
        margin-bottom: 10px;
        .input-group-addon {
            width: 75px;
            border-radius: 0;
            background-color: rgb(135, 193, 231);
            color: #000;
            border: 1px solid #000;
        }
        /*.chosen-container-multi {
            .chosen-choices {
                border: 1px solid #FFF;
            }
        }*/
    }
}

.facility-item {
    height: 115px;
    background-color: transparent;
    position: relative;
    margin-bottom: 15px;
    img {
        -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
        filter: grayscale(100%);
        height: 73px;
        opacity: 0.25;
    }
    span {
        padding: 3px 7px;
        text-align: center;
        font-size: 12px;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        max-height: 35px;
    }
    &.active {
        img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1.0;
        }
        span {

        }
    }
}
.nav-property {
    border-bottom: none;
    li {
        background-color: #def1f5;
        border: 1px solid #999;
        margin-right: 4px;
        /*border: none;*/
        a {
            border-radius: 0;
            border: none;
            color: #999;
            font-size: 18px;
            text-transform: uppercase;
            margin-right: 0;
            &:hover, &:focus {
                border: none;
            }
        }
        &.active {
            a {
                background-color: #a4dfed;
                border: none;
                color: #000;
                &:hover, &:focus {
                    border: none;
                    background-color: #a4dfed;
                }
            }
        }
    }
}
.listing-highlights {
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    .listing-highlight {
        flex: 1;
        text-align: center;
        .icon {
            margin-bottom: 15px;
            img {
                width: 35%;
                opacity: 0.25;
            }
        }

        p {
            text-transform: uppercase;
            color: #008cb2;
            font-weight: 700;
        }
        h4 {
            font-weight: lighter;
            color: #999;
        }
    }
}

#property-review {
    padding: 25px;
    border: 1px solid #999;
    h4 {
        color: #0DB9F0;
        margin-top: 25px;
        margin-bottom: 15px;

        &:first-child {
            margin-top: 15px;
        }
    }
    .lSSlideOuter {
        margin-bottom: 15px;
    }
    p {

    }
}

.review-container {
    background-color: #f5fdff;
    padding: 25px;

    .review-item {
        margin: 0 -15px 15px;
        border: 2px solid #A4DFED;
        padding: 15px 0;
        .like-container {
            div {
                float: left;
                padding: 10px 25px;
                font-size: 15px;
                cursor: pointer;
                &.likes {
                    background-color: #36bedc;
                    color: #FFF;
                }
                &.dislikes {
                    background-color: #343f41;
                    color: #FFF;
                }
            }

        }

        .customer {
            font-weight: bold;
            color: #0DB9F0;
        }
        .customer-rating {            
            margin-top: 25px;
            p {
                color: #0DB9F0;
                margin-bottom: 0;
            }
            span {
                color: rgb(241, 154, 28);
                font-size: 18px;
            }
        }
    }
    .reply-box {
        textarea {
            border-radius: 0;
            margin-bottom: 25px;
        }
    }
    .replies-container {
        margin: 0 15px;
        .reply-item {
            margin-top: 15px;
            .customer {
                font-weight: bold;
                color: #0DB9F0;
            }
            .message {
                background-color: #FFF;
                padding: 7px 15px;
                border: 1px solid #EEE;
            }
        }
    }
}
.post-comment {    
    margin-top: 35px;

    h4 {
        margin-bottom: 25px;
    }
    label {
        text-transform: uppercase;
    }
    textarea {
        border-radius: 0;
    }
    form {
        padding: 25px;
        background-color: #f5fdff;
    }
    .uploader {
        position: relative;
        overflow: hidden;
        width: 120px;
        height: 120px;
        background-color: lightgray;
        border: 2px dashed gray;
        margin-right: 20px;
        margin-left: 10px;
        padding: 0;
        .cover {
            position: absolute;
            width: 50%;
            height: 50%;
            z-index: 1;
            border: none;
            top: 25%;
            left: 25%;
        }
    }
    .rating-wrapper {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .rating-upload {

    }
    .review-action {
        margin-top: 30px;
    }

}


.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #d8e0f3;
    border-radius: 7px;
    margin: 20px 0;
}

.flat-slider.ui-slider-horizontal {
    height: 6px;
}

.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 6px;
}

.flat-slider .ui-slider-handle {
    width: 30px;
    height: 30px;
    background: #FFF; //#0db9f0;
    border-radius: 50%;
    border: 10px solid #0db9f0;
    cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -15px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -15px;
}

.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7;
    background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
}

.mortgage-calculator {
    position: relative;
    margin: 50px 0 25px;
    p {
        margin-bottom: 20px;
    }
    .monthly-payment {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        top: 155px;
        left: 104px;
        overflow: hidden;
        .content {
            margin: 35px 5px 0;
            text-align: center;
        }
    }
}
.property-map-container {
    position: relative;
    .property-map {
        width: 100%;
    }
    .nearby-places {
        position: absolute;
        right: 25px;
        top: 15px;
        bottom: 127px;
        width: 300px;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
        padding: 15px;
    }
}

.property-details {
    .title {
        .fa {
            color: #16adc5;
        }
    }
}