footer {
    color: #2b5480;
    margin-top: 25px;

    .bottom-logo {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        margin-top: 40px;
    }
    &.address {
        margin-bottom: 25px;
        h3 {
            color: #6c6c6e;
        }
        p {
            font-weight: lighter;
            color: #909090;
        }
        .nav {
            float: right;
            margin-top: 25px;
            color: #b1b1b1;
            li {
                border-right: 1px solid #b1b1b1;
                a {
                    padding: 0 7px;
                    color: #b1b1b1;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .developer-list {
        max-height: 150px;
        overflow-y: scroll;
    }
}
