.big-banner-container {
    position: relative;
    height: 390px;
    overflow: hidden;
    text-align: center;

    img {
        max-height: 370px;
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
    }

    div.options-container {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        form {
            margin-top: 25px;
        }
    }

}

.home-search-options {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;

    span {
        &.option {
            width: 150px;
            display: block;
            padding: 10px 15px;
            background-color: rgba(0,0,0,0.6);
            color: #FFF;
            float: left;
            border: 1px solid #FFF;
            border-right: none;
            cursor: pointer;

            &:last-child {
                border-right: 1px solid #FFF;
                /*width: 148px;*/
            }
            &.active {
                background-color: #16adc5;
            }
            &:hover {
                background-color: #16adc5;
            }
        }

    }

    input  {
        border-radius: 0;
        border: none;
    }

    button {
        border-radius: 0;
        border: 1px solid #FFF;
    }
}

.home-container {
    background-color: #FFF;
    width: 1037px;
    margin: 25px auto;
    overflow: hidden;

    .front-hero {
        margin: 5px;
        background-color: #42bfd3;
        overflow: hidden;
        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 30px;
            text-transform: uppercase;
            margin-top: 25px;
        }
        .hero-cell {
            text-align: center;
            width: 205px;
            float: left;
            margin: 0 25px 25px;
            img {
                width: 64px;
            }
            h3 {
                color: #F9FF4B;
                text-transform: uppercase;
                font-size: 22px;
            }
            p {
                color: #FFF;
            }
        }
    }

    .premium {
        margin: 0 7px;
        h3 {
            font-size: 26px;
            margin-top: 30px;
            margin-bottom: 20px; 
            em {
                color: #0075d2;
                font-style: normal;
            }
        }
        h4 {
            margin: 25px 0;
        }
        .premium-listings {

            .listing-item {
                width: 309px;
                height: 250px;
                position: relative;
                float: left;
                margin-right: 33px;
                background-color: #DDD;
                margin-bottom: 25px;

                &:nth-child(3n) {
                    margin-right: 0;
                }           

                .listing-info {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #f9f9f9;
                    padding: 6px 10px 3px;
                    color: #000;
                    margin-right: 0;
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    border-bottom: 1px solid #e1e1e1;

                    .property-type {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        .fa {
                            color: #0494ac
                        }
                    }

                    .location {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        .fa {
                            color: #1280df;
                        }
                    }

                    .price {
                        color: #cb1811;
                        font-weight: bold;
                    }

                    .lname {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 5px 0;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    .home-banner {
        margin: 0 7px;
        .img-responsive {
            display: inline-block;
        }
    }
    .home-sale {
        margin: 0 7px;
    }
    .home-rent {
        margin: 0 7px;
    }
    .exclusive-listings {
        margin-bottom: 25px;
        overflow: hidden;
        .listing {
            position: relative;
            &.current-listing {
                width: 618px;
                height: 370px;
                float: left;
                ul {
                    li {
                        position: relative;
                        .info {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            padding: 10px;
                            background-color: rgba(0, 0, 0, 0.7);
                            color: #FFF;
                            p {
                                font-weight: normal;
                                margin-bottom: 5px;
                                font-size: 16px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                .location {
                                    i {
                                        color: yellow;
                                    }
                                }
                                &.name {
                                    text-transform: uppercase;
                                }
                                &.address {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            &.pending-listing {
                width: 120px;
                height: 120px;
                float: left;
                margin-bottom: 5px;
                margin-left: 5px;
                &.current {
                    border: 3px solid #f5ff00;
                    img {
                        width: 114px;
                    }
                }
            }
        }
    }
    .condo-community {
        margin: 0 7px 25px;

        h3 {
            font-size: 26px;
            margin-top: 30px;
            margin-bottom: 20px; 
            text-transform: uppercase;
            em {
                color: #0075d2;
                font-style: normal;
            }
        }
    }
}   

.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF; //#00599d;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#05EFF7 0%, #087F8F 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
    /*text-shadow: 1px 1px #fafe61;*/
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #087F8F;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #087F8F;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #087F8F;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #087F8F;
}

.newsletter-container {
    padding: 50px;
    background-color: #17adc6;
    color: #FFF;
    margin: 0 5px;
    h3 {
        margin: 0;
        margin-top: 4px;
    }
    input {
        float: left;
        margin-right: 10px;
        border-radius: 0;
        border: none;
        width: 300px;
        display: inline-block;
    }
    button {
        float: left;
    }
}
.default-container {
    background-color: #FFF;    
}
.auth-container {
    background-color: #FFF;
    width: 900px;
    margin: 0 auto;
    padding: 0 25px 25px;
    .auth-title {
        margin-bottom: 40px;
    }
    input.form-control {
        border-radius: 0;
        box-shadow: none;
        border: 2px solid #afe9ff;
    }
    .social-btn-container {
        margin-top: 15px;
    }
}
.registration-container {
    background-color: #FFF;
    padding: 50px 0;
    h1 {
        margin: 0 15px 25px;
    }
    .auth-title {
        margin-bottom: 40px;
    }
    input.form-control {
        border-radius: 0;
        box-shadow: none;
        border: 2px solid #afe9ff;
    }
    .registration-form-container {
        margin-top: 50px;
    }
    .registration-banner {

        text-align: center;
        padding: 25px 0 15px;
        margin: 0;

        &.owner-banner {
            background-color: #48a6c0;
            color: #FFF;
        }
        &.agent-banner {
            background-color: #5baebc;
            color: #FFF;
        }
        &.realestate-banner {
            background-color: #45666b;
            color: #FFF;
        }
        &.developer-banner {
            background-color: #328073;
            color: #FFF;
        }

        h1 {
            font-family: Couture;
            font-size: 35px;
            font-weight: lighter;            
        }
    }
}
.free-listing-hero {
    background-color: #565e60;
    color: #FFF;
    padding: 50px 0;
    .radio {
        margin-top: 15px;
    }
    button, .listing-next {
        background-color: #8CCDDB;
        color: #FFF;
        border: none;
        border-radius: 0;
        margin-top: 25px;
    }
    form {
        .user-type-owner {
            color: #ff2d6d;
        }
        .user-type-agent {
            color: #8cffd2;
        }
        .user-type-realestate {
            color: #8cfff8;
        }
        .user-type-developer {
            color: #def1f5;
        }
    }
}
.condo-image {
    max-height: 267px;
    overflow: hidden;
}

.page-container {
    .title {
        margin-top: 25px;
    }
    .content {
        margin-bottom: 50px;
    }
}
.banner {
    text-align: center;
    overflow: hidden;
    &.banner-map-sale
    , &.banner-map-rent
    , &.banner-map-project
    , &.banner-map-condo {
        height: 75px;
    }
    &.banner-home {
        height: 150px
    }
}
.developer-registration-message {
    margin: 50px;
}
.text-bold {
    font-weight: bold;
}
.promo-popup {
    .modal-dialog {
        width: 1027px;
    }
}