.list-group {
    &.manager-sidebar {
        background-color: #bdcdd1;
        padding: 10px 0;
        margin-bottom: 0;
        h5 {
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.3);
        }
        .list-group-item {
            border: none;
            background-color: #bdcdd1;
            font-weight: normal;
            padding: 4px 12px;
            &:hover {
                color: #2196F3;
            }
            &.active {
                color: #000;
                background-color: #FFF;
                margin: 0 5px;
            }
            &:first-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}

.manager-content {
    background-color: #FFF;
    padding-bottom: 25px;
    h3 {
        margin-bottom: 25px;
    }
    h4 {
        margin-bottom: 25px;
        background-color: #F9F9F9;
        padding: 6px 12px;
        &.blue {
            background-color: #FFF;
            color: #139aca;
            border-bottom: 1px solid #139aca;
        }
    }
    .nav-tabs {
        margin-bottom: 25px;
    }
    .table-list {
        thead {
            background-color: #2b89ad;
            color: #FFF;
            tr {
                th {
                    border-bottom: none;
                    a {
                        color: #FFF;
                        &.sortable {
                            display: inline-block;
                            width: 100%;
                        }
                    }
                    &.medium-col {
                        width: 200px;
                    }
                    &.small-col {
                        width: 100px;
                    }
                    &.tiny-col {
                        width: 75px;
                    }
                    &.icon-col {
                        width: 50px;
                        text-align: center;
                    }
                    &.check-col {
                        width: 30px;
                        text-align: center;
                    }
                    &.lang-col {
                        width: 161px;
                        vertical-align: center;
                        .trans {
                            width: 140px;
                            height: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    border-top: none;
                    .user-active {
                        color: #1EA204;
                    }
                    .user-inactive {
                        color: #CCC;
                    }
                }
                &:nth-child(2n) {
                    background-color: #F9F9F9;
                }
            }
        }
    }
    .toolbar {
        margin-bottom: 15px;
        background-color: #F9F9F9;
        font-weight: normal;
        /*overflow: hidden;*/
        padding: 5px;
        .input {
            margin-right: 15px;            
            input {
                border-radius: 0;
                height: 32px;
                &.search {
                    display: block;
                    width: 300px;
                }
            }
        }
        .input-label {
            display: inline-block;
            margin-right: 5px;
            margin-top: 10px;
        }
        .btn {
            text-transform: uppercase;
            padding: 5px 12px;
            margin-right: 5px;
            background-color: $mainBlue;
            color: #FFF;
        }
        .nav-pills {
            li {
                a {
                    border-radius: 0;
                    padding: 6px 10px;
                    font-weight: lighter;
                    &.text-bold {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }    
}

.account-modal {
    .modal-dialog {
        /*width: 400px;*/
    }
}

.place-map {
    height: 400px;
}
.input-lang {
    label {
        font-weight: lighter;
    }
    &.input-lang-hidden {
        display: none;
    }
}
.show-more-lang {
    font-weight: lighter;
}
.place-editor {
    margin-top: 25px;
    display: none;
    .place-actions {
        margin-top: 25px;

    }
}
.media-preview {
    overflow: hidden;
    margin-bottom: 15px;
    .img-preview {
        width: 112px;
        height: 112px;
        margin-bottom: 10px;
        margin-right: 10px;
        float: left;
        overflow: hidden;
        border: 1px solid #F9F9F9;
        padding: 5px;
        img {
            max-width: 100px;
            max-height: 100px;
        }
    }
}
.review-media-list {
    overflow: hidden;
    margin-bottom: 25px;
    .media-item {
        width: 112px;
        height: 112px;
        float: left;
        margin: 5px;    
        padding: 5px;
        border: 1px solid #F9F9F9;
        position: relative;
        .rm-media {
            position: absolute;
            top: 0;
            right: 0;
            color: red;
            padding: 2px 6px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .rm-links {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;            
            background-color: #FFF;
            display: none;
            p {
                text-align: center;
                background-color: #F2F2F2;
                margin-bottom: 0;
                padding: 3px 0;
            }
            a {
                text-align: center;
                display: inline-block;
                width: 51px;
                padding: 3px 10px;
                &:last-child {
                    text-align: right;
                }
            }
            &.active {
                display: block;
            }
        }
    }
}
.ui-datepicker {
    z-index: 1500 !important;
}
.generic_data_loading {
    display: none;
}
.hidden-error {
    display: none;
}
.input-error {
    margin-top: 5px;
    color: #FF3955;
}
.session-dropdown {
    .input-error {
        margin-top: 5px;
        color: #f9df08;
    }
    .form-error {
        color: #f9df08;
    }
}
h4 {
    &.dark-title {
        background-color: #2b89ad;
        color: #FFF;
        margin-top: 0;
        padding: 11px;
        font-size: 14px;
    }
}
.order-customer-setting {
    .col-sm-8, .col-sm-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .customer-account {
        margin: 25px 0;
        padding: 25px 15px;
        background-color: #F7F7F7;
        border: 1px solid #DFDFDF;
    }
    .btn-dark {
        background-color: #535353;
        color: #FFFFFF;
    }
    .fa-circle {
        color: #8A8A8A;
    }
}

.location-map {
    height: 400px;
}