.member-profile-header {
    /*margin-top: 15px;*/
    .account-cover {
        position: relative;
        margin: -0;
        margin-bottom: 0px;
        height: 300px;
        background-color: #8ccddb;
        overflow: hidden;

        .upload-trigger {
            position: absolute;
            top: 10px;
            left: 15px;
            color: #FFF;
            opacity: 0.85;
            font-size: 20px;
        }
        .cover-loading {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 75px;
            display: none;
        }
    }
    .member-header {
        background-color: #FFF;
        height: 250px;
        margin-bottom: 15px;
        h4 {
            margin-left: 64px;
            margin-top: 0;
            border-bottom: 3px solid #E2E3E3;
            padding-bottom: 18px;
            padding-top: 10px;
            margin-right: 40px;
            .fa {
                color: #7Bd0ED;
                font-size: 25px;
            }
        }
        .profile-picture {
            width: 200px;
            height: 200px;
            border: 7px solid #FFF;
            border-radius: 100px;
            margin-top: -100px;
            margin-right: 15px;
            position: relative;
            margin-left: 40px;
            float: left;
            margin-bottom: 20px;
            position: relative;
            overflow: hidden;
            background-color: #FF3B7C;

            .upload-trigger {
                position: absolute;
                top: 20px;
                left: 35px;
                color: #FFF;
                opacity: 0.85;
                font-size: 20px;
            }
            .photo-required-msg {
                position: absolute;
                top: 46px;
                /* left: 35px; */
                font-weight: normal;
                font-size: 12px;
                text-align: center;
                background: rgba(255, 255, 255, 0.6);
                padding: 10px;
            }
        }
        table {
            margin-left: 40px;
            margin-top: 54px;
            width: 1060px;
            .table>tbody>tr>td {
                border-top: none;
            }
        }
    }

    &.company-agent {
        .account-cover {
            .profile-picture {
                width: 200px;
                height: 200px;
                border: 7px solid #FFF;
                margin-top: 50px;
                margin-right: 15px;
                position: relative;
                margin-left: 40px;
                float: left;
                margin-bottom: 20px;
                position: absolute;
                overflow: hidden;
                background-color: #FF3B7C;
            }
        }
        .member-header {
            height: auto;
            margin-bottom: 25px;
            h4 {
                margin-left: 0;
                margin-top: 25px;
                color: #38a8d4;
                text-transform: uppercase;
                border-bottom: none;
                .fa-certificate {
                    color: #166a77;
                }
            }
            hr {
                border-top: 3px solid #bebebe;
            }
            table {
                margin-top: 15px;

            }
        }
    }
}


.listing-status-filter  {
    margin-top: 15px;
    background-color: #e2e3e3;

    .status-cell {
        background-color: #a6d1d8;
        text-align: center;
        font-weight: normal;
    }
    div.col-md-2 {
        padding: 10px;
    }
    div.col-md-2 input {
        margin-right: 7px;
    }
}

.listing-option-filter  {
    margin-top: 15px;

    .status-cell {
        text-align: center;
        font-weight: normal;
    }
    div.col-md-2{
        padding: 10px;
    }
    div.col-md-2 input {
        margin-right: 7px;
    }
}

.setting-table {
    tr {
        td {

            &:first-child {
                width: 200px;
            }

            &:last-child {
                width: 90px;
                text-align: center;
            }

            &.setting-data {
                vertical-align: middle;
                input, textarea  {
                    width: 100%;
                    background-color: #F2F2F2;
                    border: none;
                    padding: 5px 15px;
                }
                .chosen-container {
                    width: 100%;
                    background-color: #F2F2F2;
                    border: none;
                    padding: 5px 5px;
                    .chosen-choices {
                        border: none;
                    }
                }
                input.small {
                    width: 30%;
                    font-size: 100%;
                }
            }
        }
    }

}

.summary {
    padding: 15px;
    background-color: #bcedf6;
    h4 {
        margin-bottom: 15px;
    }
    .count {
        display: inline-block;
        padding: 3px 5px;
        background-color: #6f9097;
    }
}
.member-content {
    width: 864px;
}
.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}