.session-dropdown {
    width: 280px;
    padding: 25px;
    border-radius: 0;
    right: 0;
    left: auto;
    border: none;
    background-color: #e3e3e3;

    form {
        margin: -25px;
        padding: 25px;
        background-color: #17adc6;
        padding-bottom: 10px;

        label {
            color: #FFF;
            font-weight: lighter;
        }
        button {
            border-radius: 0;
            background-color: #29cde8;
            color: #FFF;
            font-variant: small-caps;
            border: none;
            margin: 0 auto;
            display: block;
            padding: 6px 25px;
        }
        .checkbox label {
            color: #fbff4c;
            a {
                color: #fbff4c;
            }
        }
        .account-link {
            margin-top: 15px;
            a {
                color: #FFF;
                font-weight: lighter;
                padding: 0;
                text-transform: none;
            }
        }
    }

    .or-separator-container {
        position: relative;
        display: block;
        .or-separator {
            position: absolute;
            background-color: #17adc6;
            top: -44px;
            padding: 14px;
            border-radius: 22px;
            display: block;
            width: 45px;
            text-align: center;
            left: 90px;
        }
    }

    .session-nav li .account-link a {
        color: #FFF;
        font-weight: lighter;
        padding: 0;
    }
    #registration-form .error-box, #login-form .error-box {
        padding: 10px 15px;
        border: 0;
        border-radius: 0;
        margin-top: 8px;
        background: #a94442;
        color: #fff;
        font-weight: lighter;
        display: none;
    }
    .fa-spin {
        display: none;
    }
    .running .fa-spin {
        display: inline-block;
    }

    button .fa-spin {
        margin-left: 10px;
    }
    input {
        border-radius: 0;
        border: none;
    }
}

.social-btn-container {
    margin-bottom: 60px;
    .btn {
        color: #FFF;
        border-radius: 0;
        text-align: left;
        font-weight: lighter;
        display: inline-block;
        i {
            margin-right: 10px;
            min-width: 20px;
            margin-left: 10px;
        }
    }
}
.btn-facebook {
    background-color: #184a6d;
}
.btn-twitter {
    background-color: #53bbd4;
}
.btn-google-plus {
    background-color: #de4b39;
}
.account-dropdown {
    border-radius: 0;
    background-color: #A6D1D8;
    .list-group-item {
        border: none;
        background-color: #A6D1D8;
        font-weight: normal;
        padding: 4px 12px;
        border-right: none;
        &:hover {
            color: #2196F3;
        }
        a {
            color: #000;
            font-weight: lighter;
        }
        &.active {
            color: #000;
            background-color: #FFF;
            margin: 0 5px;
        }
    }
}