

.modal-dialog {
    &.modal-default {
        width: 400px; 
    }
    .modal-content {
        border-radius: 0; 
        .modal-header {
            background-color: #2b89ad;
            color: #FFF;
            padding: 10px 15px;
            border-bottom: none;
            .modal-title {
                margin-bottom: 0;
                padding: 0;
                background-color: transparent;
            }
            .close {
                margin-top: 2px;
            }
        }
    }
}

.autocomplete-suggestions { 
    border: 1px solid #DDD; 
    background: #FFF; 
    overflow: auto; 
    .autocomplete-suggestion {  
        padding: 6px 12px; 
        white-space: nowrap; 
        overflow: hidden; 
        cursor: pointer;
        &.autocomplete-selected { 
            background: #F0F0F0; 
        }
    }
    strong { 
        font-weight: normal; 
        color: $mainBlue; 
    }
    .autocomplete-group { 
        padding: 2px 5px; 
        strong { 
            display: block; 
            border-bottom: 1px solid #000; 
        }
    }
}

