.property-preview {
    .modal-dialog {
        width: 1024px;

        .modal-content {
            border-radius: 0;

            .modal-header {
                background-color: #e3effd;
                .action {
                    margin-top: 1px;
                    font-weight: lighter;
                    margin-left: 23px;
                    font-size: 17px;
                    float: right;
                    background-color: transparent;
                    border: none;
                    padding: 2px 10px 0;
                    line-height: 17px;
                    &.expand {
                        color: #32a0f5;
                        opacity: 1.0;
                    }
                }
            }
            .modal-body {

            }
        }
    }

    .listing-highlight {
        .icon {
            margin-bottom: 15px;
            img {
                opacity: 0.25;
            }
        }
    }
    .property-listing {
        width: 280px;
    }
    .nearby-places {
        .input-group {
            select {
                width: 200px;
            }
        }
    }

    .mortgage-calculator {
        width: 700px;
        margin-top: 25px;
        .monthly-payment {
            position: absolute;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            top: 135px;
            left: 90px;
            overflow: hidden;
            .content {
                margin: 27px 5px 0;
                text-align: center;
            }
        }
    }

}

.nearby-places {
    margin: 25px 0;
    .input-group {
        margin-bottom: 15px;
        .input-group-addon {
            background-color: #6fa5b1;
            color: #afe9ff;
            border: none;                                                
            font-weight: lighter;
            width: 75px;
            border-radius: 0;
            i {
                color: #FFF;
                margin-right: 5px;
            }
        }
        select {
            border: none;
            border-radius: 0;
            width: 237px;
        }
    }
}
/*.facility-item {
    .icon-container {
        width: 64px;
        height: 64px;
        overflow: hidden;
        background-color: #EEE;
        img {
            -webkit-filter: grayscale(100%);  Chrome, Safari, Opera 
            filter: grayscale(100%);
            opacity: 0.5;
            width: 64px;
            height: 64px;
        }
    }
    &.active {
        img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1.0;
        }
    }
}*/

.property-listing {
    width: 300px;
    float: right;
    margin-right: 0px;
    border: 1px solid #aec0cc;
    background-color: #f5fdff;

    .property-list {
        max-height: 1000px;
        overflow-y: scroll;
    }

    h4 {
        margin-top: -10px;
        text-align: center;
        background: #9eceda;
        margin: -18px 40px 25px;
        padding: 9px 0 7px;
        font-size: 15px;
    }

    p {
        &.filters {
            margin-left: 25px;
            margin-right: 25px;
            button {
                padding: 4px 12px;
                border-radius: 0;
                background-color: #e2f9ff;
                color: #a6d3e0;

                &.current {
                    color: #363e40;
                }
            }
        }
    }

    .listing-room {
        margin: 25px 15px;
        border: 1px solid #000;
        .listing-room-image {

        }
        .listing-room-details {
            background-color: #FFF;
            padding: 5px 15px;
            a {
                &:hover {
                    text-decoration: none;
                }
                span {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 3px 0;
                    height: 18px;                
                    &.name, &.price {
                        font-weight: normal;
                        color: #000;
                    }
                    &.address {
                        font-weight: lighter;
                        color: #999;
                    }
                }
            }

        }
    }
}

.property-preview {
    /*width: 1024px;*/

    .container {
        width: 992px;
    }

    .property-details {
        padding: 40px 0;
        .contact-box {
            width: 278px;
        }
    }

    padding: 15px 5px;
    overflow: hidden;
    .preview-header {
        margin-right: 0;
        margin-left: 0;
        padding: 0 10px;
        margin-bottom: 10px;
        .title {
            h3 {
                margin-top: 0;
            }
            .listing-type {
                padding: 4px 12px;
                background-color: #ff3955;
                color: #FFF;
            }
            button {
                background-color: transparent;
                border: none;
                margin-left: 15px;
                &.favorite {
                    color: #ff3955;
                }
                &.share {
                    color: #5b99a6;
                    font-weight: normal;
                }
            }
        }
        .listing-price {
            float: right;
            color: #949494;
            font-size: 20px;
            margin-top: 19px;
        }
    }
    .media-container {
        height: 400px;
        overflow: hidden;
        position: relative;
        margin-bottom: 25px;

        .media-slider {
            overflow: hidden;
            .media-group {
                width: 300px;
                float: left;
                margin-right: 2px;
                &.big-media {
                    width: 400px;
                }
                .small-media {
                    height: 199px;
                    overflow: hidden;
                    &:first-child {
                        margin-bottom: 2px;
                    }
                }
            }
        }

        .handler {
            position: fixed;
            padding: 7px 13px;
            color: #FFF;
            border: 1px solid #FFF;
            background-color: rgba(0,0,0,0.25);
            top: 331px;
            font-size: 25px;
            line-height: 25px;
            cursor: pointer;
            &.left {
                left: 10px;
                padding-right: 14px;
                padding-left: 12px;
            }
            &.right {
                right: 10px;
                padding-left: 15px;
                padding-right: 10px;
            }
        }
    }
    .details-container {
        .main-table {

        }
        .details-box {
            width: 700px;
            float: left;
            table {
                background-color: #def1f5;
                border: 1px solid #999;
                tr {
                    td {
                        border-right: 1px solid #999;
                        border-top: 1px solid #999;
                        font-weight: lighter;
                        &.plabel {
                            width: 20%;
                        }
                        &.value {
                            font-weight: normal;
                            width: 30%;
                        }
                        .street-view {
                            height: 500px;
                        }                                    
                        &.boder-bottom {
                            border: 1px solid #999;
                        }
                    }
                }
            }
            .contact-box {
                width: 300px;
                border: 1px solid #999;
                float: right;
                background-color: #e8fbff;
                h4 {
                    text-align: center;
                    border-bottom: 1px solid #999;
                    padding-bottom: 7px;
                    text-transform: uppercase;
                }
                h5 {
                    text-align: center;
                    margin-bottom: 8px;
                    font-size: 18px;
                }
                .contact-box-header {
                    margin: 0;
                    border-bottom: 1px solid #999;
                    padding: 0 10px 10px;

                    .single-line {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 180px;
                        display: inline-block;
                    }

                    .tel-btn {
                        margin-top: 15px;
                        text-align: center;
                        button {
                            background-color: #5e9eaa;
                            color: #fcfd03;
                            border: none;
                            padding: 5px;
                            width: 120px;
                            border-radius: 5px;
                        }
                    }
                }
                .contact-box-body {
                    padding: 10px;
                    .btn-send {
                        background-color: #5e9eaa;
                        color: #FFF;
                        i {
                            color: #fcfd03;
                        }
                    }
                }
            }
        }
    }
}

.nearby-trans {
    padding: 10px;
    .trans-item {
        margin: 5px 0;
        label {
            display: inline-block;
            padding: 3px 12px;
            background-color: #FFF;
            border: 1px solid #000;
            color: #000;
            font-weight: lighter;
            margin-right: 15px;
            width: 100px;
        }
        span {
            display: inline-block;
            padding: 4px 12px;
            color: #000;
            font-weight: lighter;
            background-color: #8ed3e3;
        }
    }
}