.search-results-container {
    background-color: #FFF;
    padding: 25px;

    .header {
        margin-bottom: 25px;
        h3 {
            color: #0894ad;
            text-transform: uppercase;
            font-size: 30px;
        }
        p {
            color: #0894ad;
            font-size: 30px;
            span {
                &.count {
                    color: #fd0118;
                }
            }
        }

    }

    .property-list {              
        float: left;
        width: 865px;
        margin-bottom: 50px;
        .property-item {
            width: 98%;
            position: relative;      
            height: 250px;
            margin: 0 0 5px;
            overflow: hidden;
            margin-bottom: 35px;
            img {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
            }

            .meta-info-bg {
                padding: 15px;
                width: 350px;
                background-color: rgba(255, 255, 255, 0.5);
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }

            .meta-info {
                position: absolute;
                right: 0;                        
                bottom: 0;
                padding: 15px;
                width: 350px;
                color: #000;
                p {
                    text-align: left;
                    color: #000;
                    margin-bottom: 0;
                    font-weight: bold;
                    a {
                        color: #000;
                    }
                }
                .price {
                    font-size: 25px;
                }
            }
            .img-pager {
                position: relative;
                height: 250px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .pager-num {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.7);
                    color: #FFF;
                    padding: 2px 15px 1px;
                }
                .pager-handler {
                    position: absolute;
                    top: 105px;
                    background-color: rgba(0, 0, 0, 0.7);
                    font-size: 18px;
                    padding: 3px 13px 2px;
                    color: #FFF;
                    cursor: pointer;
                    &.pager-left {
                        left: 1px;
                    }
                    &.pager-right {
                        left: 464px;
                    }
                }
            }
            .favorite-container {
                position: absolute;
                top: 15px;
                left: 15px;
                background-color: rgba(0, 0, 0, 0.5);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                span {
                    color: #FFF;
                    margin-top: 10px;
                    display: inline-block;
                }
            }
        }
    }
    .ads {
        float: right;
        width: 250px;
        height: 800px;
        overflow: hidden;
        /*background-color: red;*/
    }
}

