.topbar {
    background-color: $mainBlue;
    .navbar-static-top {
        border: 0;
        margin-bottom: 0;
    }
    .navbar-social {
        a {
            color: #FFF;
            &:hover {
                color: $mainBlue;
            }
        }
    }
    .navbar-lang {
        a {
            width: 40px;
            color: #FFF;
            padding: 12px 10px;
            &:hover {
                color: $mainBlue;
                background-color: #1294a9;
            }
            img {
                width: 20px;
            }            
        }
    }
}

.mainmenu-container {
    position: relative;
    .logo {
        width: 260px;
        float: left;
    }
    .nav {
        position: absolute;
        margin-top: 32px;
        left: 280px;
        right: 0;
        li {
            &.presentation {
                border-right: 1px solid #000;
            }
            a.main {
                padding: 0 15px;
                color: #4A4A4A;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}

.breadcrumb {
    overflow: hidden;
    background-color: transparent;
    li {
        padding: 4px 0px 2px 2px;
        &.free-listing-link {
            background: $freeYellow;
            padding: 4px 15px 2px;
            color: $mainBlue;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            &:before {
                content: ""
            }
        }
    }
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 5px;
}