.btn {
    border-radius: 0;
    
    &.btn-primary {
        background-color: #2b89ad;
    }
    
    &.btn-grey {
        background-color: #787878;
    }
    &.btn-white {
        background-color: transparent;
    }
    &.btn-back {
        background-color: #2b89ad;
        color: #FFF;
    }
    &.btn-map-view {
        background-color: #16ADC5;
        color: #FFF;
    }
    &.btn-big {
        font-weight: bold;
        font-size: 20px;
        padding: 6px 24px;
    }
}