

@font-face {
    font-family: Couture;
    src: url("/fonts/couture-bld.otf") format("opentype");
}

@font-face {
    font-family: CoutureItalic;
    font-weight: bold;
    src: url("/fonts/couture-bldit.otf") format("opentype");
}

body {
    font-family: 'Signika', sans-serif;
    font-weight: lighter;
    background-color: #f1f1f1;
}