.listing-highlights {
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.listing-highlight {
    flex: 1;
    text-align: center;
    font-size: 8px;

    img {
        width: 40%;
    }

    p {
        text-transform: uppercase;
        color: #008cb2;
        font-weight: bold;
    }

    h4 {
        font-size: 10px;
    }
}

.condo-header {
    width: 100%;
    height: 30px;
    font-size: 11px;
    color: white;
    background-color: #0d8ea3;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 26px;

    &.condo-comments {
        background-color: white;
        border: 2px solid #0d8ea3;
        color: #0d8ea3;
    }
}

.facility-line {
    width: calc(100% - 10px);
    margin: 5px;
    font-size: 10px;
    overflow: hidden;

    .facility {
        width: 25%;
        height: 91px;
        float: left;
        text-align: center;
        margin-bottom: 5px;

        img {
            width: 80%;
        }
    }
}

.mortgage-options {
    margin: 10px 40px;

    p {
        font-weight: bold;
        margin-top: 10px;
    }

    .mortgage-label {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .mortgage-total {
        float: right;
        padding: 3px 20px;
        background-color: black;
        color: white;
        margin-top: 6px;
    }
}

.mortgage-result {
    position: relative;
    padding: 20px 50px;
}

.details {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
}

.video-container {
	position: relative;
	padding-top: 5px;
	height: 160px;
	overflow: hidden;
    margin-bottom: 10px;

    iframe {
        width: 100%;
    }
}

.condo-comments-view {
    display: none;
    border: 2px solid #0d8ea3;
    border-top: none;
}

.condo-listing-rent-view {
    display: none;
    border: 2px solid #0d8ea3;
    border-top: none;
}

.condo-listing-sale-view {
    display: none;
    border: 2px solid #0d8ea3;
    border-top: none;
}

.property-details .ranking .fa {
    color: #16adc5;
}
#property-map {
    height: 250px;
}

.listing-area{
  margin-bottom: 15px;
}

.mortgage-calculator {
    /*position: relative;*/
    margin: 50px 0 25px;
    p {
        margin-bottom: 10px;
    }
    .monthly-payment {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        top: 25%;
        left: 32%;
        overflow: hidden;
        .content {
            margin: 35px 5px 0;
            text-align: center;
        }
    }
}


.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #d8e0f3;
    border-radius: 7px;
    margin: 20px 15px;
}

.flat-slider.ui-slider-horizontal {
    height: 6px;
}

.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 6px;
}

.flat-slider .ui-slider-handle {
    width: 30px;
    height: 30px;
    background: #FFF; //#0db9f0;
    border-radius: 50%;
    border: 10px solid #0db9f0;
    cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -15px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -15px;
}

.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7;
    background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
}

button#add-favorite{
    background-color: white;
    border: none;
}
