.body-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-height: 400px) {
    #inner-main *:not(input) {
        display: none;
    }
}

.mobile-container {
    img {
        max-width: 100%;
    }
}

.big-button {
    padding: 0;
    height: 32%;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid white;
    outline: none;
    color: white;
    font-weight: bold;
    float: left;
    margin-bottom: 9%;

    &.selected {
        color: #006979;
        background-color: white;
    }
}

.home-tab {
    flex:1;
    border: 1px solid #4ec9f2;
    position: relative;

    .tab-mark {
        position: absolute;
        opacity: 0;
        left: calc(50% - 10px);
        top: -17px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 17px 10px;
        border-color: transparent transparent #4ec9f2 transparent;
    }

    &.selected {
        background-color: #4ec9f2;
        color: white;

        .tab-mark {
            opacity: 1;
        }
    }
}

.listing-item {
    position: relative;
    border:1px solid #dbdbdb;
    height: 250px;
    margin-bottom: 5%;

    .exclusive-label {
        position: absolute;
        border-bottom: 30px solid #fffc01;
        border-left: 18px solid transparent;
        border-right: 52px solid transparent;
        height: 0;
        width: 150px;
        left: -19px;
        top: 8px;
        font-weight:bold;
        transform: rotate(-30deg);
    }

    .exclusive-label-text {
        position: absolute;
        top: 20px;
        left: 5px;
        color: #006979;
        text-transform: uppercase;
        transform: rotate(-30deg);
    }

    .listing-image {
        height: 75%;
        background-size: cover;
        background-position: center;
    }

    .listing-details {
        height: 25%;
        padding: 5px;
        background-color: #d9e6ec;
    }
}

.search-box {
    border: none;
    text-align: center;
    font-size: 12px;
    height: 40px;
    width: 95%;
    padding: 0 12%;
    margin-bottom: 8px;
}

  .search-input {
    padding: 16px;
    margin-left: -55px;
    height: 37px;
    width: 50px;
    color: white;
    border: 0;
    -webkit-appearance: none;
    background-image: url(/mobile/img/search.png);
    background-repeat: no-repeat;
    background-position: 9% 50%;
    background-size: auto 55%;
    background-color: white;
}
