.search-results {
            .property-item {
                height: 170px;
                margin-bottom: 2px;
                position: relative;
                overflow: hidden;
                color: #FFF;
                text-shadow: 1px 1px #000;
                background-color: #F2F2F2;
                width: 100%;

                &:nth-child(2n + 1) {
                    float: left;
                }
                &:nth-child(2n) {
                    float: right;
                }

                .img-count {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                .favorite-btn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: transparent;
                    border: none;
                    .fa {
                        text-shadow: 0 0px 1px #000;
                    }
                }
                .details {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 10px;
                    .listing-type {
                        text-shadow: 0 0px 1px #FFF;
                        color: #0457a3;
                        &.sale {
                            color: #CC0000;
                        }
                        &.rent {
                            color: #0088ff;
                        }
                        &.condo {
                            color: #1EA204;
                        }
                        &.project {
                            color: #D78B00;
                        }
                    }
                    .listing-price {
                        font-size: 30px;
                        margin-top: -2px;
                        display: inline-block;
                        margin-bottom: -10px;
                    }
                    .summary {
                        color: #EEE;
                        white-space: nowrap;
                        overflow: hidden;              /* "overflow" value must be different from "visible" */
                        text-overflow: ellipsis;
                        margin: 0;
                        background-color: transparent;
                        padding: 0;
                    }
                }
            }
        }

        #img-list{
          height: 100%;
          width: 100%;
        }
