.main-menu {
    padding: 0 30px;
    width: 100%;
    height: 84px;

    .options {
        height: 36px;
        border: 1px solid lightgray;

        .row {
            text-transform: uppercase;
            text-align: center;
            font-size: 11px;
            line-height: 36px;
            margin: 0;

            .col-xs-6 {
                color: #9E9E9E;
                font-weight: bold;

                &:last-child {
                    border-left: 1px solid lightgray;
                }

                &.selected/*,
                &:hover*/ {
                    color: white;
                    background-color: #37ABD0;
                }
            }
        }
    }

    input {
        /*height: 30px;*/
        border: 1px solid lightgray;
        /*font-size: 10px;*/
    }
}

.options-menu {
    z-index: 1000;
    top: 85px;
    display: none;
    position: absolute;
    width: 100%;
    height: 335px;
    background-color: rgba(4, 62, 71, 0.69);
    padding: 10px;
    color: white;

    .row {
        margin-bottom: 10px;
    }

    label {
        font-size: 14px;
        text-transform: capitalize;
    }

    select {
        height: 26px;
        border: none;
        color: black;
        width: 100%;
    }

    input {
        width: calc(50% - 13px);
        margin: 0 5px;
        color: black;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
    .apply {
        text-align: center;
    }

    .apply button {
        color: white;
        background-color: #0074E5;
        border: none;
        height: 30px;
        width: 120px;
        line-height: normal;
        margin-top: 5px;
    }
}

.bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(28, 109, 135, 0.8); /*#1c6d87*/
    color: white;

    .glyphicon-arrow-left {
        position: absolute;
        left: 20px;
        top: 9px;
        font-size: 20px;
    }

    .glyphicon-home {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 20px;
    }
}

#mapview {
    position: absolute;
}

.infoBox {
    background: white;
    width: 250px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2px;


    .marker-info {
        height: 74px;
        padding: 5px;

        font-family: 'Signika', sans-serif;
        font-weight: lighter;

        .marker-img {
            width: 64px;
            height: 64px;
            float: left;
            margin-right: 10px;
            overflow: hidden;
            img {
                width: 64px;
            }
        }
        .marker-details {
            width: 165px;
            height: 64px;
            float: right;
            line-height: 1.4;
            .price {
                font-weight: normal;
            }
            h6 {
                margin-top: 2px;
                margin-bottom: 3px;
                line-height: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 165px;
            }
        }

    }
}

.ui-autocomplete {
    &.map-search {
        width: calc(100% - 60px) !important;
        border: none;
        height: calc(100% - 161px) !important;
        overflow-y: auto;

        -webkit-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);

        li.poi-item {
            width: 100%;
            display: block;
            list-style-image: none;
            overflow: hidden;
            &:hover {
                background-color: #EEE;
                span {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                }
                margin: 0;
            }
            span {
                display: inline-block;
                height: 36px;
                padding: 8px;
                font-family: 'Signika', sans-serif;
                color: #000;
                background-color: transparent;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.icon {
                    width: 30px;
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    opacity: 0.25;
                    &.bts {
                        background-image: url('/mobile/img/maps/selected/bts.png');
                    }
                    &.mrt {
                        background-image: url('/mobile/img/maps/selected/mrt.png');
                    }
                    &.apl {
                        background-image: url('/mobile/img/maps/selected/apl.png');
                    }
                    &.bank {
                        background-image: url('/mobile/img/maps/selected/bank.png');
                    }
                    &.dept-store {
                        background-image: url('/mobile/img/maps/selected/departmentstore.png');
                    }
                    &.hospital {
                        background-image: url('/mobile/img/maps/selected/hospital-building.png');
                    }
                    &.school {
                        background-image: url('/mobile/img/maps/selected/school.png');
                    }
                }
                &.name {
                    width: 249px;
                }
                &.poi-type {
                    display: none;
                    width: 75px;
                    text-transform: uppercase;
                    font-weight: lighter;
                    opacity: 0.54;
                }
                &.more {
                    display: none;
                    width: 312px;
                    opacity: 0.54;
                    float: right;
                    font-size: 12px;
                    height: 24px;
                    padding: 0;
                }
                &.ui-state-active {
                    background-color: transparent;
                    margin: 0;
                    color: #000;
                    border: none;
                }

            }
        }
    }
}
