@font-face {
    font-family: Couture;
    src: url("/mobile/fonts/couture-bld.otf") format("opentype");
}

@font-face {
    font-family: CoutureItalic;
    font-weight: bold;
    src: url("/mobile/fonts/couture-bldit.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

html, body {
    height: 100%;
}

.fit-size{
  width: 100% !important;
  height: 100% !important;
}

.mobile-container {
    height: calc(100% - 91px);

    .login-container {
        height: calc(100% + 91px);
    }

    &.main-container {
        position: relative;
        overflow-x: hidden;

        .menu-container {
            z-index: 1000;
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(4, 62, 71, 0.69); //#043e47;
            height: 100%;
            top: 0;
            &.visible {
                display: block;
            }
        }

        .favorite-container {
            z-index: 1000;
            top: 0;
            position: absolute;
            min-height: 100%;
            width: 100%;
            background-color: rgba(4, 62, 71, 0.69);
            margin-left: -100%;
            transition: 0.15s all ease;
            display: none;

            &.visible {
                margin-left: 0;
                display: block;
            }
        }
    }
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    line-height: 1em;
    height: auto;
}

@import 'topbar.scss';
@import 'menu.scss';
@import 'homepage.scss';
@import 'searchpage.scss';
@import 'findagent.scss';
@import 'agentpage.scss';
@import 'condo.scss';
@import 'listview.scss';
