
.topbar-container {
    padding: 5px 10px;
    margin-bottom: 9.7%;
    .topbar {
        list-style : none;
        overflow: hidden;
        padding: 0;
        margin: 5px 0;
        width: 100%;
        td {
            text-align: center;
            button {
                background-color: #FFF;
                border: none;
                color: #32aacf;
                font-size: 20px;
                width: 30px;
                padding: 3px 6px;
                text-align: center;
                &.favorite {
                    color: #FF2120;
                }
                &:focus {
                    outline:0;
                    /*background-color: #F2F2F2;*/
                }
            }
            &.btn-cell {
                width: 37px;
            }
            img {
                height: 35px;
                margin-left: -35px;
            }
        }
    }
    .breadcrumb-container {
        text-align: right;
        padding: 5px 10px;
        a {
            background-color: #FFFD02;
            color: #558a9c;
            display: inline-block;
            padding: 3px 10px;
        }
    }
}
